<%= form_with(model: survey_medium) do |form| %>
  <% if survey_medium.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey_medium.errors.count, "error") %> prohibited this survey_medium from being saved:</h2>

      <ul>
        <% survey_medium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :media_id, style: "display: block" %>
    <%= form.text_field :media_id %>
  </div>

  <div>
    <%= form.label :survey_id, style: "display: block" %>
    <%= form.text_field :survey_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
