<%= form_with(model: service_responsible) do |form| %>
  <% if service_responsible.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(service_responsible.errors.count, "error") %> prohibited this service_responsible from being saved:</h2>

      <ul>
        <% service_responsible.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :daily_report_id, style: "display: block" %>
    <%= form.text_field :daily_report_id %>
  </div>

  <div>
    <%= form.label :responsible_id, style: "display: block" %>
    <%= form.text_field :responsible_id %>
  </div>

  <div>
    <%= form.label :responsible_function, style: "display: block" %>
    <%= form.text_area :responsible_function %>
  </div>

  <div>
    <%= form.label :authorization, style: "display: block" %>
    <%= form.text_field :authorization %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
