<div id="<%= dom_id service_responsible %>">
  <p>
    <strong>Daily report:</strong>
    <%= service_responsible.daily_report_id %>
  </p>

  <p>
    <strong>Responsible:</strong>
    <%= service_responsible.responsible_id %>
  </p>

  <p>
    <strong>Responsible function:</strong>
    <%= service_responsible.responsible_function %>
  </p>

  <p>
    <strong>Authorization:</strong>
    <%= service_responsible.authorization %>
  </p>

</div>
