<div id="<%= dom_id stocking %>">
  <p>
    <strong>Material:</strong>
    <%= stocking.material %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= stocking.quantity %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= stocking.unit %>
  </p>

  <p>
    <strong>Treshould to request restock:</strong>
    <%= stocking.treshould_to_request_restock %>
  </p>

</div>
