<div id="<%= dom_id requirement %>">
  <p>
    <strong>Department:</strong>
    <%= requirement.department_id %>
  </p>

  <p>
    <strong>Responsible:</strong>
    <%= requirement.responsible_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= requirement.address_id %>
  </p>

  <p>
    <strong>Type of requirement:</strong>
    <%= requirement.type_of_requirement %>
  </p>

  <p>
    <strong>Document number:</strong>
    <%= requirement.document_number %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= requirement.telephone %>
  </p>

</div>
