<div id="<%= dom_id daily_report_equipment_usage %>">
  <p>
    <strong>Daily report:</strong>
    <%= daily_report_equipment_usage.daily_report_id %>
  </p>

  <p>
    <strong>Responsible:</strong>
    <%= daily_report_equipment_usage.responsible_id %>
  </p>

  <p>
    <strong>Usage time:</strong>
    <%= daily_report_equipment_usage.usage_time %>
  </p>

  <p>
    <strong>Equipment:</strong>
    <%= daily_report_equipment_usage.equipment %>
  </p>

</div>
