<%= form_with(model: daily_report_equipment_usage) do |form| %>
  <% if daily_report_equipment_usage.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(daily_report_equipment_usage.errors.count, "error") %> prohibited this daily_report_equipment_usage from being saved:</h2>

      <ul>
        <% daily_report_equipment_usage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :daily_report_id, style: "display: block" %>
    <%= form.text_field :daily_report_id %>
  </div>

  <div>
    <%= form.label :responsible_id, style: "display: block" %>
    <%= form.text_field :responsible_id %>
  </div>

  <div>
    <%= form.label :usage_time, style: "display: block" %>
    <%= form.time_field :usage_time %>
  </div>

  <div>
    <%= form.label :equipment, style: "display: block" %>
    <%= form.text_field :equipment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
