<p style="color: green"><%= notice %></p>

<%= render @daily_report_equipment_usage %>

<div>
  <%= link_to "Edit this daily report equipment usage", edit_daily_report_equipment_usage_path(@daily_report_equipment_usage) %> |
  <%= link_to "Back to daily report equipment usages", daily_report_equipment_usages_path %>

  <%= button_to "Destroy this daily report equipment usage", @daily_report_equipment_usage, method: :delete %>
</div>
