<div id="<%= dom_id daily_report_service %>">
  <p>
    <strong>Daily report:</strong>
    <%= daily_report_service.daily_report_id %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= daily_report_service.area %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= daily_report_service.unit %>
  </p>

  <p>
    <strong>Service description:</strong>
    <%= daily_report_service.service_description %>
  </p>

</div>
