<div id="<%= dom_id service_order %>">
  <p>
    <strong>Requirement:</strong>
    <%= service_order.requirement_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= service_order.status %>
  </p>

  <p>
    <strong>Type of service:</strong>
    <%= service_order.type_of_service %>
  </p>

  <p>
    <strong>Service cost:</strong>
    <%= service_order.service_cost %>
  </p>

  <p>
    <strong>Attendimment feedback:</strong>
    <%= service_order.attendimment_feedback %>
  </p>

  <p>
    <strong>Finished at:</strong>
    <%= service_order.finished_at %>
  </p>

</div>
