<div id="<%= dom_id address %>">
  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= address.neighborhood %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= address.postal_code %>
  </p>

  <p>
    <strong>Reference point:</strong>
    <%= address.reference_point %>
  </p>

  <p>
    <strong>Treatment:</strong>
    <%= address.treatment %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= address.cep %>
  </p>

</div>
