<div id="<%= dom_id daily_report_resource_allocation %>">
  <p>
    <strong>Stocking:</strong>
    <%= daily_report_resource_allocation.stocking_id %>
  </p>

  <p>
    <strong>Daily report:</strong>
    <%= daily_report_resource_allocation.daily_report_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= daily_report_resource_allocation.quantity %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= daily_report_resource_allocation.unit %>
  </p>

</div>
