<div id="<%= dom_id daily_report %>">
  <p>
    <strong>Construction responsible:</strong>
    <%= daily_report.construction_responsible_id %>
  </p>

  <p>
    <strong>Supervisor:</strong>
    <%= daily_report.supervisor_id %>
  </p>

  <p>
    <strong>Service order:</strong>
    <%= daily_report.service_order_id %>
  </p>

  <p>
    <strong>Climatic condition morning:</strong>
    <%= daily_report.climatic_condition_morning %>
  </p>

  <p>
    <strong>Climatic condition afternoon:</strong>
    <%= daily_report.climatic_condition_afternoon %>
  </p>

  <p>
    <strong>Teams departure time:</strong>
    <%= daily_report.teams_departure_time %>
  </p>

  <p>
    <strong>Teams arrival time:</strong>
    <%= daily_report.teams_arrival_time %>
  </p>

  <p>
    <strong>Teams exit time:</strong>
    <%= daily_report.teams_exit_time %>
  </p>

  <p>
    <strong>Teams return time:</strong>
    <%= daily_report.teams_return_time %>
  </p>

</div>
